* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f5f5f5;
    padding: 25px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: .02em;
  }

  /* ----------------------Illustration--------------------- */

  .container {
    position: relative;
    width: 700px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .hat {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 120px;
    background-color: #F7ECBD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: rotate(-7deg);
    bottom: 20px;
  }
  
  .hat-brim {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #F7ECBD;
    right: -200px;
    bottom: -100px;
    border-radius: 50px;
  }
  
  .head {
    position: relative;
    width: 300px;
    height: 375px;
    background-color: #FF9669;
    border-radius: 120px;
    transform: rotate(-3deg);
    bottom: 50px;
  }

  .eye {
      position: relative;
      left: 175px;
      top: 20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ffffff;
  }

  .pupil {
    position: relative;
    left: 200px;
    bottom: 60px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #000000;
  }

  .cheek {
      position: relative;
      width: 120px;
      height: 30px;
      bottom: 80px;
      left: 170px;
      border-radius: 50%;
      background-color: #FF9669;
  }

  /* .mouth {
      position: relative;
      width: 200px;
      height: 250px;
      left: 98px;
      clip-path: ellipse(52% 31% at 99% 1%);
      
      background-color: #000000;
  } */

  .nose{
      position: relative;
      width: 100px;
      height: 75px;
      background-color: #FF9669;
      border-radius: 50px;
      left: 250px;
      top: 175px;
      transform: rotate(-5deg);
  }

  .body {
      position: relative;
      bottom: 225px;
      width: 280px;
      height: 275px;
      clip-path: ellipse(45% 50% at 50% 100%);
      background-color: #F7ECBD;
    }

    .shoulder {
      position: relative;
      z-index: 1;
      bottom: 500px;
      left: 30px;
      width: 250px;
      height: 275px;
      clip-path: ellipse(45% 50% at 50% 100%);
      background-color: #3f99d7;
    }

  /* ----------------------table CSS--------------------- */

  table {
    width: 700px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #3C6673;
  }
  
  th {
    text-align: left;
  }
  
  table, tr, th {
    border: 4px solid #3C6673;
    border-collapse: collapse;
  }
  
  tr, th {
    padding: 7px;
  }
  
  th[rowspan="3"] {
    width: 115px;
    height: 115px;
  }

  .swatchColor {
      width: 100px;
      height: 100px;
      border: 3px solid #3C6673;
      border-radius: 10%;
  }
  
  th[colspan="4"] {
    font-size: 22px;
  }

  .title {
      font-size: 18px;
  }
  
  .info {
    height: 35px;
    min-width: 220px;
    font-size: 15px;
  }
  
  input[type="submit"], input[type="text"] {
    padding: 5px;
  }
  
  input[type="text"] {
    border-radius: 5px;
    border: 3px solid #3C6673;
}
  
  input[type="submit"] {
    color: #fff;
    background: #7A9A01;
    border: none;
    border-radius: 5px;
  }