* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f5f5f5;
    padding: 25px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: .02em;
    text-align: center;
  }

  .content {
      padding: 0;
      margin-top: 5vh;
      font-size: 4em;
      font-weight: 900;
      letter-spacing: -.13em;
      text-align: center;
      color: #3C6673;
  }

  .content span:nth-child(1) {
      position: relative;
      animation: animate 1.65s;
  }

  .content span:nth-child(2) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.15s;
}

.content span:nth-child(3) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.3s;
}

.content span:nth-child(4) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.45s;
}

.content span:nth-child(5) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.6s;
}

.content span:nth-child(6) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.75s;
}

.content span:nth-child(7) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 0.9s;
}

.content span:nth-child(8) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 1.05s;
}

.content span:nth-child(9) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 1.2s;
}

.content span:nth-child(10) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 1.35s;
}

.content span:nth-child(11) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 1.5s;
}

.content span:nth-child(12) {
    position: relative;
    animation: animate 1.65s;
    animation-delay: 1.65s;
}

@keyframes animate {
    0%{
        bottom: 40px;
    }
    100%{
        bottom: 0;
    }
}

  /* ----------------------Illustration--------------------- */

  .container {
    position: relative;
    width: 700px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .hat {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 120px;
    background-color: #fbd461;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(-7deg);
    bottom: 10px;
    box-shadow: 150px 50px 0 -50px #fbd461;
  }
  
  .head {
    position: relative;
    width: 300px;
    height: 375px;
    background-color: #FF9669;
    border-radius: 120px;
    transform: rotate(-3deg);
    bottom: 50px;
  }

  .eye {
      position: relative;
      left: 175px;
      top: 20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ffffff;
  }

  .eye::before {
      position: absolute;
      content: "";
      width: 75px;
      height: 75px;
      border-radius: 50%;
      top: 20px;
      left: 25px;
      background-color: #000;
  }

    .cheek {
      position: relative;
      width: 120px;
      height: 30px;
      bottom: 5px;
      left: 170px;
      border-radius: 50%;
      background-color: #FF9669;
  }

  .mouth {
      position: relative;
      width: 115px;
      height: 75px;
      background-color: black;
      left: 180px;
      top: 55px;
      transform: rotate(8deg);
      border-radius: 19% 0% 100% 58% / 1% 0% 100% 72%;
  }

  .nose{
      position: relative;
      width: 100px;
      height: 75px;
      background-color: #FF9669;
      border-radius: 50px;
      left: 250px;
      top: 175px;
      transform: rotate(-5deg);
  }

  .body {
      position: relative;
      bottom: 225px;
      width: 300px;
      height: 275px;
      clip-path: ellipse(45% 50% at 50% 100%);
      background-color: #fbd461;
    }

    .shoulder {
      position: relative;
      z-index: 1;
      bottom: 500px;
      left: 30px;
      width: 275px;
      height: 275px;
      clip-path: ellipse(45% 50% at 50% 100%);
      background-color: #3f99d7;
    }

    .arm {
      position: relative;
      width: 100px;
      height: 100px;
      left: 390px;
      bottom: 820px;
      transform: rotate(-52deg);
      z-index: 1;
      background-color: #FF9669;
    }

    .hand {
      position: relative;
      width: 140px;
      height: 140px;
      left: 430px;
      bottom: 1015px;
      transform: rotate(-15deg);
      border-radius: 50% 0% 0% 20%;
      z-index: 2;
      background-color: #FF9669;
    }

    .finger1 {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left: 535px;
        bottom: 1173px;
        z-index: 2;
        background-color: #FF9669;
        box-shadow: 12px 43px 0 #FF9669, 16px 89px 0 #FF9669, -35px 142px 0 -15px #F5F5F5;
    }

    .sleve {
        position: relative;
        width: 200px;
        height: 200px;
        left: 320px;
        bottom: 700px;
        z-index: 3;
        clip-path: polygon(40% 39%, 100% 64%, 72% 100%, 0% 100%);
        background-color: #3f99d7;
    }

    .brush {
        position: relative;
        width: 230px;
        height: 50px;
        border-radius: 10px;
        left: 410px;
        bottom: 1273px;
        z-index: 1;
        background-color: #ab7341;
    }

    .brush::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 10px;
        left: 15px;
        top: 10px;
        z-index: 0;
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    .handle {
        position: relative;
        width: 60px;
        height: 200px;
        left: 85px;
        top: 40px;
        z-index: 0;
        border-radius: 0px 0px 30px 30px;
        background-color: #ab7341;
    }

    .bristles {
        position: relative;
        width: 215px;
        height: 160px;
        z-index: 0;
        bottom: 360px;
        left: 7px;
        background-color: #fbd461;
    }

    .paint {
        position: relative;
        width: 100px;
        height: 125px;
        bottom: 535px;
        right: 0px;
        border-radius: 95% 100% 100% 73% / 27% 73% 56% 79%;
        background-color: #3C6673;
    }

    .paint2 {
        position: relative;
        width: 100px;
        height: 100px;
        bottom: 660px;
        left: 40px;
        transform: rotate(-45deg);
        border-radius: 34% 79% 100% 49% / 37% 96% 65% 38%;
        background-color: #3C6673;
    }

    .paint3 {
        position: relative;
        width: 100px;
        height: 100px;
        bottom: 760px;
        left: 78px;
        transform: rotate(20deg);
        border-radius: 95% 79% 100% 73% / 60% 96% 65% 38%;
        background-color: #3C6673;
    }

    .paint4 {
        position: relative;
        width: 85px;
        height: 85px;
        bottom: 860px;
        left: 145px;
        transform: rotate(20deg);
        border-radius: 95% 79% 100% 73% / 60% 96% 65% 38%;
        background-color: #3C6673;
    }

  /* ----------------------table CSS--------------------- */

  table {
    width: 700px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #3C6673;
  }
  
  th {
    text-align: left;
  }
  
  table, tr, th {
    border: 4px solid #3C6673;
    border-collapse: collapse;
  }
  
  tr, th {
    padding: 7px;
  }
  
  th[rowspan="3"] {
    width: 115px;
    height: 115px;
  }

  .swatchColor {
      width: 100px;
      height: 100px;
      border: 4px solid #3C6673;
      border-radius: 10%;
  }
  
  th[colspan="4"] {
    font-size: 22px;
  }

  .title {
      font-size: 18px;
  }
  
  .info {
    height: 35px;
    min-width: 220px;
    font-size: 15px;
  }
  
  input[type="submit"], input[type="text"] {
    padding: 5px;
  }
  
  input[type="text"] {
    border-radius: 5px;
    border: 3px solid #3C6673;
}
  
  input[type="submit"] {
    color: #fff;
    background: #7A9A01;
    border: none;
    border-radius: 5px;
  }